public/videos/companion/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/companion/forest.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/companion/grassland.mp4 filter=lfs diff=lfs merge=lfs -text
