/* ========================================================================
   Global Stylesheet
   ======================================================================== */

@use "variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&display=swap');



/* ========================================================================
   1. 导入你的自定义本地字体
   ======================================================================== */

@font-face {
    font-family: '汉仪程行简';
    /* 这是你给中文字体起的名字 */
    src: url('../assets/fonts/汉仪程行简.woff2') format('woff2');
    /* 相对路径！ */
    font-weight: 600;
    /* 假设这个文件是 600 字重 */
    font-style: normal;
    font-display: swap;
    /* 优化：先显示备用字体，等它加载完再替换 */
}

@font-face {
    font-family: '汉仪全唐诗简';
    src: url('../assets/fonts/汉仪全唐诗简.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '山海汲刻宋';
    src: url('../assets/fonts/SHANHAIJIGUSONGKE.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'HFSimpleLife-2';
    src: url('../assets/fonts/HFSimpleLife-2.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HOOG0555';
    src: url('../assets/fonts/HOOG0555.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* --- 全局：隐藏滚动条但保留滚动功能 --- */

/* 1. 针对 Firefox */
html {
  scrollbar-width: none;
}

/* 2. 针对 IE 和 Edge (旧版) */
body {
  -ms-overflow-style: none;
}

/* 3. 针对 WebKit (Chrome, Safari, 新版 Edge) */
/* 我们同时定位 html 和 body 以确保覆盖所有情况 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
  width: 0;      /* 确保宽度为0 */
  height: 0;     /* 确保高度为0 */
}

/* 现代 CSS 重置 (Reset)
   ------------------------------------------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    background-color: $color-background;
    color: $color-text;
    line-height: 1.6;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    color: $color-text;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

/* 全局字体排版 (Typography)
   ------------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 500;
}

p {
    margin-bottom: $spacing-base;
    max-width: 65ch;
    color: $color-text-secondary;
}