/* --- 旋转动画 --- */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.headerSection {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introBackgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    opacity: 0.6;
}

.titleGroup {
    position: relative;
    text-align: center;
    z-index: 2;

    h2 {
        font-family: "汉仪程行简", serif;
        font-weight: 600;
        font-size: clamp(3.5rem, 8vw, 7rem);
        color: #f0f0f0;
        margin: 0;
    }

    .mainTitleWrapper {
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: opacity 1.8s ease-out, transform 1.8s ease-out, visibility 1.8s ease-out;
    }

    p {
        font-family: "汉仪全唐诗简", serif;
        font-size: clamp(1.2rem, 1vw, 1.5rem);
        color: #b2b1b1;
        letter-spacing: 1.5px;
        margin-top: 1rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: opacity 1.8s ease-out, transform 1.8s ease-out, visibility 1.8s ease-out;
    }

    .titleIcon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(120%, -10%);
        width: 30px;
        height: auto;
    }
}

.titleGroup.isVisible {
    .mainTitleWrapper {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    p {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 0.5s;
    }
}